// utilities for stuff related to the box model
// Not using extend so that inspect is cleaner
// Keeping the source here simple sass

// padding are in em's represented by integers 10 times the em
$spu-pad-sizes: 0 5 10 15 20 25 30 40 50;

@each $size in $spu-pad-sizes {
  .spu-pad-#{$size} {
    padding: $size/10 + em;
  }

  // one side
  .spu-padTop-#{$size} {
    padding-top: $size/10 + em;
  }
  .spu-padStart-#{$size} {
    padding-left: $size/10 + em;
  }
  .spu-padEnd-#{$size} {
    padding-right: $size/10 + em;
  }
  .spu-padBottom-#{$size} {
    padding-bottom: $size/10 + em;
  }

  // two sides
  .spu-padTB-#{$size} {
    padding-top: $size/10 + em;
    padding-bottom: $size/10 + em;
  }
  .spu-padSE-#{$size} {
    padding-left: $size/10 + em;
    padding-right: $size/10 + em;
  }
}


$spu-border-sizes: 1 2 3;

// reset borders
.spu-border-0 {
  border-width: 0px;
}

@each $size in $spu-border-sizes {
  // all sides
  .spu-border-#{$size} {
    border: $size + px solid;
  }

  // one side
  .spu-borderTop-#{$size} {
    border-top: $size + px solid;
  }
  .spu-borderStart-#{$size} {
    border-left: $size + px solid;
  }
  .spu-borderEnd-#{$size} {
    border-right: $size + px solid;
  }
  .spu-borderBottom-#{$size} {
    border-bottom: $size + px solid;
  }

  // two sides
  .spu-borderTB-#{$size} {
    border-top: $size + px solid;
    border-bottom: $size + px solid;
  }
  .spu-borderSE-#{$size} {
    border-left: $size + px solid;
    border-right: $size + px solid;
  }
}


@each $color-list in $s-color-listList {
  @each $color in $color-list {
    .spu-borderColor-#{nth($color, 1)} {
      border-color: nth($color, 2) !important;
    }
  }
}
// GENERATES:
// .spu-borderColor-neutral1
// .spu-borderColor-neutral2
// .spu-borderColor-neutral3
// .spu-borderColor-neutral4
// .spu-borderColor-neutral5
// .spu-borderColor-neutral6
// .spu-borderColor-primary1
// .spu-borderColor-primary2
// .spu-borderColor-primary3
// .spu-borderColor-primary4
// .spu-borderColor-primary5
