// TODO: Could be named better

@each $color-list in $s-color-listList {
  @each $color in $color-list {
    .spu-background-#{nth($color, 1)} {
      background-color: nth($color, 2);
    }
  }
}

@each $color-list in $s-color-listList {
  @each $color in $color-list {
    .spu-color-#{nth($color, 1)} {
      color: nth($color, 2);
    }
  }
}

.spu-radius {
  border-radius: $s-var-radius;
}
