.u-fontSize-d { font-size: $s-scale-d; }
.u-fontSize-c { font-size: $s-scale-c; }
.u-fontSize-b { font-size: $s-scale-b; }
.u-fontSize-a { font-size: $s-scale-a; }
.u-fontSize-1 { font-size: $s-scale-1; }
.u-fontSize-2 { font-size: $s-scale-2; }
.u-fontSize-3 { font-size: $s-scale-3; }
.u-fontSize-4 { font-size: $s-scale-4; }
.u-fontSize-5 { font-size: $s-scale-5; }
.u-fontSize-6 { font-size: $s-scale-6; }
.u-fontSize-7 { font-size: $s-scale-7; }
.u-fontSize-8 { font-size: $s-scale-8; }
.u-fontSize-up5 { font-size: $s-scale-up5; }
.u-fontSize-up4 { font-size: $s-scale-up4; }
.u-fontSize-up3 { font-size: $s-scale-up3; }
.u-fontSize-up2 { font-size: $s-scale-up2; }
.u-fontSize-up1 { font-size: $s-scale-up1; }
.u-fontSize-down1 { font-size: $s-scale-down1; }
.u-fontSize-down2 { font-size: $s-scale-down2; }
.u-fontSize-down3 { font-size: $s-scale-down3; }
.u-fontSize-down4 { font-size: $s-scale-down4; }
.u-fontSize-down5 { font-size: $s-scale-down5; }
