.sp-logo, a.sp-logo {
  text-decoration: none;
  // font size is set in .sp-logo so that the separator inherits it
  font-size: $s-scale-1;
}
  .sp-logo__main, a.sp-logo__main {
    color: $s-color-primary3;
    text-transform: lowercase;
  }
  .sp-logo__separator {
    display: inline;

    border-left: 1px solid currentColor;
    margin-left: 0.5em;
    margin-right: 0.5em;

    // hide the space (for a space in the text representation)
    letter-spacing: -1em;
  }
  .sp-logo__subSite {
    font-size: $s-scale-3;
  }
